@font-face{
	font-family: moon flower;
	src: url(../fonts/MoonFlower.ttf);
}

body{ 
	background: #F8F9F9  ;
	background-repeat: none;
	margin:0;
}



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FCF3CF;
	font-family: moon flower;

}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: #F5CBA7;
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
    font-size: 40px;
}
.logo {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }

ul.topnav li a:hover:not(.active) {color: #D98880;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
.read {
	color: #FCF3CF;
	padding:4px 5px 4px 5px;
	border: 10px;
	border-color: #blue;
	margin-bottom: 10px;
	text-align: center;
	font-family: tw cen mt;
	text-decoration: none;
}
.read:hover {
	color: red;
	
}
/* Main Menu */
.main-menu{
	padding: 2px;
	margin: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(4,1fr)
}

/* Showcase Section */

.Showcase {
	background-image: url(../images/showcase1.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 150px;
	text-align: center;
	font-family: tw cen mt;
}	

/* Main Article */

.Main-article {
	background: #D98880mm;
	padding: 0px 10px 0px 10px;
	margin: 10px;
	text-align: center;
	font-family: tw cen mt; 
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 1fr;
}	
/*main article left*/
.main-article-left{
	background:  #e5c1a6;
	padding: 5px;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr;
	text-align: justify;
	color: #985353;
}
.one{ 
	padding: 10px;
}
.best-seller {
	font-family: moon flower;
	font-size: 40px;
}
#best-name{
	font-family: moon flower;
	font-size: 35px;
}
.organica{
	padding: 10px;
	text-align: justify;
	background:  #e5c1a6;
}
.did{
	font-family: moon flower;
	font-size: 40px;
}
.facts{
	font-family: tw cen mt;
}
/*main article right*/
.trivia{
	color: #985353;
	background-image: url(../images/13.JPG);
	background-repeat: no repeat;
	background-size: cover;
	text-align: justify;
	padding: 10px;
	overflow: auto;
	width: 300px;
	height: 470px;
	font-size: 15px;
}
	
/* second article */
.second-article{
	display: grid;
	grid-gap: 100px;;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
	padding: 10px;
	background: #FCF3CF;
	margin: 20px;
	font-family: tw cen mt;
	color: #985353;
}


.six{
	background: #e5c1a6;;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	color: #985353;
}
.seven{
	background: #e5c1a6;;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	color: #985353;
}
.nine{
	background: #e5c1a6;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	color: #985353;
}

.second-article-text{
	font-family: moon flower;
	font-size: 40px;
	text-align: center;
}


/* Lower Article */
.second-showcase{
	padding: 10px;
	margin: 20px;
	background:  #e5c1a6;
	margin-bottom: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 3fr;
}
.description{
	background: #FCF3CF;
	padding: 10px;
	font-family: tw cen mt;
	color: #985353;
}
#GOI{
	font-family: moon flower;
	color: #985353;
}
.vid{
	grid-column: 2/3;
}

/* Footer */
.Footer{
	background: #f8cda1;
	padding: 1px;
	font-size: 30px;
	margin-bottom: 0px;
	text-align: center;
	font-family: moon flower;
	color: #9b7565;
}		
