.thankyou{
	padding:5px;
	background:#fae1e2;
	text-align: center;
	margin: 0 0 0 0px;
	
}

h1{
	font-family: Moon Flower;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FCF3CF;
	font-family: moon flower;

}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: #F5CBA7;
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
    font-size: 40px;
}
.logo {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }

ul.topnav li a:hover:not(.active) {color: #D98880;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}